@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body {
    background: url(/images/background.jpg);
    backdrop-filter: blur(50px);
    min-height: 100vh;
    margin: 0;
    font-family: 'Quantico', Arial, sans-serif;
}

header.cabecalho {
    background: #5e19ff40;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid #4b06ec99;
    border-radius: 25px;
    padding: 0px 5px 0 0;
    font-family: Roboto;
    margin: 10px 10px 0 10px;
    
    top: 0;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;   

}

.logo{

    margin: 0 0 5px 5px;
    
    background-color: #aa38ec;
    background: radial-gradient(circle at center, #aa38ec 20%, transparent 70%);

}


.logo img {
    height: 60px;
    width: 60px;
    padding-top: 5px;
    border-radius: 50%;
    object-fit: cover;


}

.navbar ul {
    list-style: none;
    
    display: flex;
    gap: 10px;
    margin: 0;
    padding-right: 10px;
}

.navbar ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
}

.navbar ul li a:hover {
    color: #0084ff;
}

.corpo{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.emojis {
    margin-top: -50px;
    position: relative;
    width: 250px;  
    height: 250px;
    padding: 0;
}

.emoji, .emoji2 {
    position: absolute;
    width: 100%;        
    height: 100%;
    object-fit: contain; 
}

.emoji{
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: -10px;
    filter: brightness(0) saturate(100%) invert(18%) sepia(32%) saturate(3723%) hue-rotate(246deg) brightness(89%) contrast(100%) blur(5px);
    border-radius: 50%;
}

.emoji2{
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;    /* Trava no início do container */
}
.apresentacao{
    text-align: center;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    gap: 15px;
    flex-direction: column;
}

.apresentacao h2{
    text-align: center;
    margin-bottom: 10px;
}

.apresentacao h4{
    text-align: justify;       
    font-weight: 500;          
    line-height: 1.5;          
    width: 100%;
}

.botoes {
    
    position: static;
    transform: none;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    
}
.links {
    padding: 12px 22px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    min-width: 200px;
    color: #ffffff;
    background: #8227f840;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid #5912ff99;
    /*icones do font awesome:*/
    display: flex;            /* Transforma o botão em um container flex */
    align-items: center;      /* Centraliza verticalmente ícone e texto */
    justify-content: center;  /* Centraliza o conteúdo no meio do botão */
    gap: 10px;                /* Cria um espaço de 10px entre o ícone e o texto */
    transition: 0.3s;
}

.links i {
    font-size: 1.1em;
}

.links:hover {
    background: #ba6ff8;
}

.rodape{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.5); 
    margin-top: 50px; 
    padding-bottom: 5px; 
    width: 100%;
}


@media only screen and (max-width: 580px){
    
    .corpo{
        flex-direction: column;
        padding-top: 30px;
    }
    .emojis{
        width: 180px;
        height: 180px;
        margin-top: 5px;
        
    }
    .apresentacao{
        align-items: center;
        text-align: center;
        margin-top: 0px;
    }

    .botoes{
        margin-top: 30px;
    }
    
}

